html {
    height: 100%;
}

body{
    background-color: #1c293a;
    height: 100%;
}

#calcContainer {
    border: 1px solid white;
    width: 350px;
}

#calcContent {
    padding: 10px;
    row-gap: 10px;
}

.buttonItem {
    width: 70px;
    height: 70px;
    background-color: #354356;
}

.buttonItem:hover {
    background-color: #6c62ff;
}